* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  padding: 2px;
}

.container {
  width: 100%;
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
}

.name-logo {
  font-size: 32px;
  font-weight: 600;
  color: #6001d3;
  font-family: 'Dancing Script', cursive;

}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: #06000c;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 16px;
  position: relative;
  transition: color 0.3s ease, transform 0s ease; /* Change transition duration for transform to 0s */
}

.links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: linear-gradient(to right, #6001d3, #8a2be2);
  transition: width 0s ease, background-color 0.3s ease;
  -webkit-transition: width 0.3s ease, background-color 0.3s ease;
}

.links a:hover::after {
  width: 100%;
  left: 0;
  background: linear-gradient(to right, #8a2be2, #6001d3);
}

.links a:hover {
  color: #8a2be2;
  transform: scale(1.1);
  text-shadow: 0;
}


.btn-contact button {
  padding: 17px 34px;
  background: linear-gradient(45deg, #6001d3, #a750f8);
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: color 0.4s linear, background-color 0.4s linear,
    transform 0.3s ease;
  border: none;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-contact button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.75s ease;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.1);
}

.btn-contact button:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.btn-contact button:hover {
  color: white;
  background: linear-gradient(45deg, #a45ae9, #6001d3);
  transform: scale(1.05);
}

.btn-contact button span {
  position: relative;
  z-index: 2;
}

.btn-contact button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.titles {
  display: inline-table;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-top: 28px;
  padding-bottom: 10px;
}

.small-title p {
  font-size: 0.9em;
  font-weight: 600;
  color: #333;
  margin: 15px 0;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5; 
  background: linear-gradient(90deg, #592c87, #667EEA); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.greetings p {
  font-size: 1.6em;
  color: #070000;
  margin: 5px 0;
  text-align: left;
  font-weight: 600;
}

.greetings-name {
  font-size: 2.7em;
  font-weight: bold;
  color: #080000;
  text-align: left;
  margin: 5px 0;
}

.occupation p {
  font-size: 1em;
  color: #777;
  margin: 5px 0;
  text-align: left;
}
